<?xml version="1.0"?>
<launch>

    <node pkg="task3" type="cylinder_segmentation" name="cylinder_segmentation">
    </node>
    <node pkg="task3" type="detect_rings" name="detect_rings">
    </node>
    <node pkg="task3" type="move_arm.py" name="move_arm">
    </node>
    <node pkg="task3" type="detect_faces.py" name="detect_faces">
    </node>
    <node pkg="task3" type="test.py" name="test">
    </node>
    <node pkg="task3" type="extract_qr" name="extract_qr">
    </node>
    <node pkg="task3" type="extract_speech" name="extract_speech">
    </node>


</launch>
